<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 id="title">Let's get in touch</h4>
        <div class="contact-info">
          Feel free to fill out the form below or email me at
          <a class="email-link" href="mailto:heythere@allyeastman.com.au?Subject=Website%20Inquiry" target="_top">
            <i class="tiny material-icons">email</i>
            <b>heythere@allyeastman.com.au</b>
          </a>
        </div>
        <div class="contact card">
          <div class="card-content">
            <form [formGroup]="emailForm" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.form)">
              <div class="row">
                <div class="input-field col m6 s12">
                  <input id="name" type="text" name="name" formControlName="name">
                  <div class="error-message" *ngIf="contactForm.dirty && emailForm.get('name').hasError('required')">Full name is required</div>
                  <label for="name">Full Name</label>
                </div>
                <div class="input-field col m6 s12">
                  <input id="email_address" type="email" name="email_address" class="validate" formControlName="email">
                  <div class="error-message" *ngIf=" contactForm.dirty && emailForm.get('email').hasError('required')">Email address is required</div>
                  <label for="email_address" data-error="Invalid email address. Ensure you have an @ sign and .com" data-success="Successful email address">Email Address</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="inquiry" class="materialize-textarea" type="text" name="inquiry" data-length="300" formControlName="message">
                  </textarea>
                  <div class="error-message" *ngIf="contactForm.dirty && emailForm.get('message').hasError('required')">Message/inquiry is required</div>
                  <label for="inquiry">Your message/inquiry</label>
                </div>
              </div>
              <div class="row">
                <button class="waves-effect waves-light btn submit" type="submit" [disabled]="!contactForm.touched">
                  <i class="material-icons right">send</i>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer row">
      <div class="col m6 s12 copyright">
        All Rights Reserved. Ally Eastman © {{year}}
      </div>
      <div class="col m6 s12 right-align social-media">
        <div class="row">
          <a href="https://www.instagram.com/allyeastman_/" target="_blank">
            <img src="../assets/img/socialMediaIcons/Instagram_White.png" class="social-media-icon" alt="instagram">
          </a>
          <a href="https://www.github.com/allyeastman/" target="_blank">
            <img src="../assets/img/socialMediaIcons/Github_White.png" class="social-media-icon" alt="github">
          </a>
          <a href="https://www.linkedin.com/in/allyeastman/" target="_blank">
            <img src="../assets/img/socialMediaIcons/LinkedIn_White.png" class="social-media-icon" alt="linkedin">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
