//Colour variables for colour palette
$pink-color: #F2DDDE;
$purple-color: #89ABE3;
$green-color: #C6E2DA;
$silver-color: #F0EEE9;
$grey-color: #615E5F;
//Regular colours
$white-color: #fff;
$black-color: #000;

h5, h4 {
    font-family: 'Arvo', serif;
}
