<div class="portfolio-wrapper">
  <div class="container">
    <h4>Portfolio</h4>
    <div class="row">
      <div class="col m6 s12">
          <a href="http://www.rcsaustralia.com.au/" target="_blank">
            <div class="card portfolio">
              <div class="card-image">
                <img src="../../assets/img/rcs.png">
              </div>
              <div class="card-content">
                <div class="chip">
                  Web Design
                </div>
                <div class="chip">
                  UI
                </div>
                <h5>RCS Australia Website</h5>
                <div class="view-text">
                    <i class="material-icons">
                        arrow_right_alt
                      </i>
                      View Project
                </div>              
              </div>
            </div>
          </a>
      </div>
      <div class="col m6 s12">
        <a href="https://dribbble.com/shots/6229782-BroadTask" target="_blank">
          <div class="card portfolio">
            <div class="card-image">
              <img src="../../assets/img/BroadTaskScreenshot.png">
            </div>
            <div class="card-content">
              <div class="chip">
                App Design
              </div>
              <div class="chip">
                UI
              </div>
              <div class="chip">
                UX
              </div>
              <h5>BroadTask</h5>
              <div class="view-text">
                  <i class="material-icons">
                      arrow_right_alt
                    </i>
                    View Project
              </div>            
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col m6 s12">
        <a href="https://dribbble.com/shots/6230487-The-Fashion-Bible" target="_blank">
          <div class="card portfolio">
            <div class="card-image">
              <img src="../../assets/img/FashionBible.png" id="fashionBible">
            </div>
            <div class="card-content">
                <div class="chip">
                  Graphic Design
                </div>
                <div class="chip">
                  Illustration
                </div>
              <h5>The Fashion Bible</h5>
              <div class="view-text">
                  <i class="material-icons">
                      arrow_right_alt
                    </i>
                    View Project
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col m6 s12">
        <div class="card portfolio">
          <a href="#">
            <div class="card-image">
              <img src="../../assets/img/Balance.png">
            </div>
            <div class="card-content">
              <div class="chip">
                App Design
              </div>
              <div class="chip">
                UI
              </div>
              <div class="chip">
                UX
              </div>
              <h5>Balance - Budgeting Tool</h5>
              <div class="view-text">
                  <i class="material-icons">
                      arrow_right_alt
                    </i>
                    View Project
              </div>            
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
