<div class="portfolio-wrapper">
  <div class="container">
    <h4>Portfolio</h4>
    <div class="row">
      <div class="col m6 s12">
          <a href="http://www.rcsaustralia.com.au/" target="_blank">
            <div class="card portfolio">
              <div class="card-image">
                <img src="../../assets/img/rcs.png">
              </div>
              <div class="card-content">
                <div class="chip">
                  Web Design
                </div>
                <div class="chip">
                  UI
                </div>
                <h5>RCS Australia Website</h5>
                <p>I worked with Kabosh Creative to develop a new website for Resource Consulting Services.</p>
              </div>
            </div>
          </a>
      </div>
      <div class="col m6 s12">
        <a href="#">
          <div class="card portfolio">
            <div class="card-image">
              <img src="../../assets/img/BroadTaskScreenshot.png">
            </div>
            <div class="card-content">
              <div class="chip">
                App Design
              </div>
              <div class="chip">
                UI
              </div>
              <div class="chip">
                UX
              </div>
              <h5>BroadTask</h5>
              <p>A conceptual mockup of a Task Management App. This app supports task creation & collaboration, along with an inbuild chat system. (Link available soon).</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col m6 s12">
        <a href="https://www.theloop.com.au/aeastman/portfolio/book-cover-the-fashion-bible/209743" target="_blank">
          <div class="card portfolio">
            <div class="card-image">
              <img src="../../assets/img/FashionBible.jpg" id="fashionBible">
            </div>
            <div class="card-content">
              <div class="row">
                <div class="chip">
                  Graphic Design
                </div>
                <div class="chip">
                  Illustration
                </div>
              </div>
              <h5>The Fashion Bible</h5>
              <p>Created in Adobe Illustrator, I have collated fashion images from over the century.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col m6 s12">
        <div class="card portfolio">
          <a href="#">
            <div class="card-image">
              <img src="../../assets/img/TravelAppMockup.png">
            </div>
            <div class="card-content">
              <div class="chip">
                App Design
              </div>
              <div class="chip">
                UI
              </div>
              <div class="chip">
                UX
              </div>
              <h5>Explore - Travel App</h5>
              <p>A conceptual mockup of a Travel App. This app gives specific details for destinations (Link available soon).</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
