<h4>Recent Blogs</h4>
<div class="row">
  <div class="col m6 s12">
    <a href="https://uxdesign.cc/designing-a-user-friendly-login-25855ae0cc88" target="_blank">
      <div class="card small">
        <div class="card-image">
          <img src="../../assets/img/blogThumbnails/loginBlogThumbnail.png" id="userFriendlyLogin">
        </div>
        <div class="card-content">
          <h5>Designing a User Friendly Login</h5>
          <p class="blog-description">
            To ensure your users experience is seamless from the beginning, you should design your login and register screens to be as intuitive as possible. These screens are generally the first step for a user when experiencing your product.
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col m6 s12">
    <a href="https://medium.com/@allyeastman/user-testing-5259058f4ef2" target="_blank">
      <div class="card small">
        <div class="card-image">
          <img src="../../assets/img/blogThumbnails/blogThumbnail7.png" id="userTesting">
        </div>
        <div class="card-content">
          <h5>User Testing</h5>
          <p class="blog-description">
              One of the most important parts of understanding a user’s experience — is testing this in real time and recording the user’s path, actions, decisions and feedback.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row center-align">
  <a class="waves-effect waves-light btn-large blogs" href="https://medium.com/@allyeastman" target="_blank">
    Read All Blogs
  </a>
</div>
